In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import math as mt
import seaborn as sns #visualisation
import matplotlib.pyplot as plt # visualisation
plt.style.use("seaborn-whitegrid")
import warnings            
warnings.filterwarnings("ignore") # We can suppress the warnings
import statistics as stats #calculation

In [2]:
# Importing the dataset Price

dfpop5 =pd.read_csv("1.Population_Famale.csv")
dfpop6 =pd.read_csv("2.Population_Male.csv")
dfpop7 =pd.read_csv("3.Population_Rural.csv")
dfpop8 =pd.read_csv("4.Population_Urban.csv")

In [4]:
# change names on datasets

dfpop5 = dfpop5.rename(columns = {"Value":"Famale_K "})
dfpop6 = dfpop6.rename(columns = {"Value":"Male_K"})
dfpop7 = dfpop7.rename(columns = {"Value":"Rural_K"})
dfpop8 = dfpop8.rename(columns = {"Value":"Urban_K"})

In [5]:
#Created a join tables
dfpop_m3 = pd.merge(dfpop5,dfpop6, how='inner', on=["Area","Year"],suffixes=("_dfpop5", "_dfpop6"))
dfpop_m4 = pd.merge(dfpop7,dfpop8, how='inner', on=["Area","Year"],suffixes=("_dfpop7", "_dfpop8"))
df_pop = pd.merge(dfpop_m3,dfpop_m4, how='inner', on=["Area","Year"])

In [6]:
#full print
df_pop

,Domain_Code_dfpop5,Domain_dfpop5,Area_Code_(M49)_dfpop5,Area,Element_Code_dfpop5,Element_dfpop5,Item_Code_dfpop5,Item_dfpop5,Year_Code_dfpop5,Year,...,Element_Code_dfpop8,Element_dfpop8,Item_Code_dfpop8,Item_dfpop8,Year_Code_dfpop8,Unit_dfpop8,Urban_K,Flag_dfpop8,Flag_Description_dfpop8,Note_dfpop8
0,OA,Annual population,40,Austria,513,Total Population - Female,3010,Population - Est. & Proj.,2015,2015,...,561,Urban population,3010,Population - Est. & Proj.,2015,1000 persons,5008.930,X,Figure from international organizations,NaN
1,OA,Annual population,40,Austria,513,Total Population - Female,3010,Population - Est. & Proj.,2016,2016,...,561,Urban population,3010,Population - Est. & Proj.,2016,1000 persons,5044.760,X,Figure from international organizations,NaN
2,OA,Annual population,40,Austria,513,Total Population - Female,3010,Population - Est. & Proj.,2017,2017,...,561,Urban population,3010,Population - Est. & Proj.,2017,1000 persons,5074.746,X,Figure from international organizations,NaN
3,OA,Annual population,40,Austria,513,Total Population - Female,3010,Population - Est. & Proj.,2018,2018,...,561,Urban population,3010,Population - Est. & Proj.,2018,1000 persons,5102.072,X,Figure from international organizations,NaN
4,OA,Annual population,40,Austria,513,Total Population - Female,3010,Population - Est. & Proj.,2019,2019,...,561,Urban population,3010,Population - Est. & Proj.,2019,1000 persons,5129.574,X,Figure from international organizations,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,OA,Annual population,752,Sweden,513,Total Population - Female,3010,Population - Est. & Proj.,2016,2016,...,561,Urban population,3010,Population - Est. & Proj.,2016,1000 persons,8544.134,X,Figure from international organizations,NaN
158,OA,Annual population,752,Sweden,513,Total Population - Female,3010,Population - Est. & Proj.,2017,2017,...,561,Urban population,3010,Population - Est. & Proj.,2017,1000 persons,8636.758,X,Figure from international organizations,NaN
159,OA,Annual population,752,Sweden,513,Total Population - Female,3010,Population - Est. & Proj.,2018,2018,...,561,Urban population,3010,Population - Est. & Proj.,2018,1000 persons,8727.991,X,Figure from international organizations,NaN
160,OA,Annual population,752,Sweden,513,Total Population - Female,3010,Population - Est. & Proj.,2019,2019,...,561,Urban population,3010,Population - Est. & Proj.,2019,1000 persons,8817.415,X,Figure from international organizations,NaN
161,OA,Annual population,752,Sweden,513,Total Population - Female,3010,Population - Est. & Proj.,2020,2020,...,561,Urban population,3010,Population - Est. & Proj.,2020,1000 persons,8904.762,X,Figure from international organizations,NaN

In [7]:
# Clean the dataset, deleting useless columns for ou analyse

df_pop.drop(["Domain_Code_dfpop5","Domain_Code_dfpop6","Domain_Code_dfpop7","Domain_Code_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Domain_dfpop5","Domain_dfpop6","Domain_dfpop7","Domain_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Area_Code_(M49)_dfpop5","Area_Code_(M49)_dfpop6","Area_Code_(M49)_dfpop7","Area_Code_(M49)_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Element_Code_dfpop5","Element_Code_dfpop6","Element_Code_dfpop7","Element_Code_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Element_dfpop5","Element_dfpop6","Element_dfpop7","Element_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Item_Code_dfpop5","Item_Code_dfpop6","Item_Code_dfpop7","Item_Code_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Item_dfpop5","Item_dfpop6","Item_dfpop7","Item_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Year_Code_dfpop5","Year_Code_dfpop6","Year_Code_dfpop7","Year_Code_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Unit_dfpop5","Unit_dfpop6","Unit_dfpop7","Unit_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Flag_dfpop5","Flag_dfpop6","Flag_dfpop7","Flag_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Flag_Description_dfpop5","Flag_Description_dfpop6","Flag_Description_dfpop7","Flag_Description_dfpop8"], axis=1, inplace=True)
df_pop.drop(["Note_dfpop5","Note_dfpop6","Note_dfpop7","Note_dfpop8"], axis=1, inplace=True)

# Prints out the first few rows
print(df_pop.head())

      Area  Year  Famale_K     Male_K   Rural_K   Urban_K
0  Austria  2015   4406.012  4236.408  3669.727  5008.930
1  Austria  2016   4444.016  4292.470  3667.377  5044.760
2  Austria  2017   4472.011  4325.485  3660.707  5074.746
3  Austria  2018   4492.710  4347.802  3649.748  5102.072
4  Austria  2019   4511.992  4367.948  3636.627  5129.574

In [9]:
#Save new data frame as extension.CSV
#df_pop.to_csv("Consolidated Population.csv")